logs
*/__pycache__
__pycache__
*.pyc
python_env
.idea
settings/keyboard_config.json
settings/common_config.json

tests/ui_tests/logs
tests/ui_tests/maps
tests/ui_tests/settings

some_code
maps
compiled_versions
dist
build
launch.spec
server.spec
game.ico
server.ico
some_code/server_stuff_bad
some_code/server_stuff_bad/*